@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');
$dark-olive-green: #606c38ff;
$kombu-green: #283618ff;
$cornsilk: #fefae0ff;
$earth-yellow: #dda15eff;
$liver-dogs: #bc6c25ff;
$someShadeOfYellow: rgb(244, 231, 178);
@keyframes colorSwitch {
    from{
        color: $cornsilk;
        background-color: $kombu-green;
    }
    to{
        color:$kombu-green;
        background-color: $cornsilk;
    }
}
#root{
    font-family: "Montserrat";
    height: auto;
}
body{
    margin: 0px;
    padding:0px;
    min-height:100%;
}
html{
    min-height: 100%;
}
#root,.App{
    height: 100vh;
}
.MainCredentials{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $earth-yellow;
}
.HomeCard{
    height: 50vh;
    width: 50vh;
    background-color: $cornsilk;
    border: 1px solid black;
    box-shadow: 8px 12px $kombu-green;
    padding: 0px 8px 8px 8px;
}
.MainTitle{
    font-weight: 800;
    font-size: larger;
    padding-left: 16px;
}
.InputField{
    display: flex;
    flex-direction: row;
    width: 90%;
    input{
        font-family: quicksand;
        border-radius: 4px;
        border-style: none;
        width: 100%;
        outline: none;
        font-size: large;
        padding: 8px;
        margin: 2px;
        box-shadow:2px 1px 1px rgba($color: #a2a2a2, $alpha: 1.0);
    }
}
.inputItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.homePageImageStyle{
    width: 100%;
    height: 100%;
}
.homePageSecondHalf{
    height: 100vh;
}
.UserCardsMainDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.PCText{
    text-decoration: none;
    color:$kombu-green;
    width: fit-content;
    height: 25vh;
}
.ProfileCard{
    width: 15vw;
    height: 30vh;
    background-color: $someShadeOfYellow;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba($color: #a2a2a2, $alpha: 1.0);;
}

.invisibleClass{
    visibility: hidden;
}
.popup{
    padding:8px;
    background-color:rgb(255, 235, 153);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 16px;
    box-shadow: 4px 2px 2px rgba($color: #a2a2a2, $alpha: 1.0);;
}
.inputBox{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-family: Quicksand;
    font-weight: 600;
    gap: 16px;
    font-size: large;
    input{
        background-color: $cornsilk;
        border:none;
        outline:none;
        border-radius: 12px;
        padding:4px;
        font-weight: 300;
    }
}
.SubmitOrChangeField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    button{
        font-family: quicksand;
        border-radius: 4px;
        border-style: none;
        width: 90%;
        outline: none;
        font-size: large;
        padding: 8px;
        margin: 2px;
        background-color: $kombu-green;
        color: cornsilk;
        box-shadow:2px 1px 1px rgba($color: #a2a2a2, $alpha: 1.0);
    }
    button:hover{
        animation: 0.5s colorSwitch alternate both;
    }
}
.userHomePageIdea{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: auto;
}
.SideBar{
    flex: 0 0 200px;
    background-color: $earth-yellow;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:25px;
}
.SideBarContent{
    display: flex;
    flex-direction: column;
    margin: 80px 8px;
    width: 80%;
}
.MainContentPage{
    background-color: $cornsilk;
    width: 100%;
}
.UserHomePageContent{
    padding: 8px;
}
.hiddenDropDown{
    display: none;
}
.dropDownStyling{
    background-color: $someShadeOfYellow;
    box-shadow: 4px 4px 2px rgba($color: #a2a2a2, $alpha: 1.0);
    border-radius: 8px;
    padding:1px 8px;
    margin-bottom: 8px;
}
.TitleDescriptionHomePage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:8px
}
.editProfileButton,.ReturnHome{
    text-decoration: none;
    color: $cornsilk;
    background-color: $kombu-green;
    box-shadow:2px 2px 1px rgba($color: #a2a2a2, $alpha: 1.0);
    padding: 8px;
    border-radius: 16px;
}
.ReturnHome{
    width: fit-content;
}
.editProfileButton:hover,.ReturnHome:hover{
    background-color: $cornsilk;
    color: $kombu-green;
}
.subtableContent{
    font-weight: 800;
    text-transform: uppercase;
}
.ProfileAndDeleteStuff{
    display: flex;
    flex-direction: row;
    gap:24px;
    padding: 4px;
}
.submitButton{
    outline: none;
    background-color:$kombu-green ;
    border: $kombu-green 1px solid;
    color: $cornsilk;
    font-family: montserrat;
    font-size: medium;
    border-radius: 16px;
}
.gapForEdit{
    margin: 4px 0px;
}
.submitButton:hover{
    color:$kombu-green;
    background-color: $cornsilk;
}
.deleteButton,.cancelButton{
    outline: none;
    background-color:$cornsilk ;
    border: red 1px solid;
    color: red;
    font-family: montserrat;
    font-size: medium;
    border-radius: 16px;
}
.deleteButton:hover,.cancelButton:hover{
    color:$cornsilk;
    background-color: red;
}
.dropDownBigDiv{
    margin-bottom: 16px;
}
.SideBarElement{
    text-align: center;
    text-decoration: none;
    font-family: quicksand;
    border-radius: 16px;
    border-style: none;
    outline: none;
    width: 100%;
    font-size: large;
    padding: 8px;
    margin: 2px;
    background-color: $kombu-green;
    color: cornsilk;
    box-shadow:2px 1px 1px rgba($color: #a2a2a2, $alpha: 1.0);
}
.UserSearchPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.SearchBarStyling{
    font-size: large;
    font-family: quicksand;
    outline: none;
    border:none;
}
.SearchBarDiv{
    box-shadow:2px 1px 1px rgba($color: #a2a2a2, $alpha: 1.0);
    padding:6px;
    width: 90%;
    display: flex;
    margin:8px;
    margin-top: 16px;
    border-radius: 16px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap:8px;
    input{
        width:100%
    }
}
.ShowMoreText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.LeaveACommentButton{
    outline:none;
    background-color: $kombu-green;
    border: none;
    color:$cornsilk;
    font-family: Quicksand;
    font-size: large;
    padding:8px;
    margin: 8px;
    border-radius: 16px;
    border: 2px solid $kombu-green;
}
.submitButton,.cancelButton{
    padding: 5px;
}
.LeaveACommentButton:hover{
    border:2px solid $kombu-green;
    color:$kombu-green;
    background-color: $cornsilk;
}
.inputBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.finalButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:8px;
}
.TakeUserInformation{
    font-family: Quicksand;
    font-size: large;
    p{
        font-weight: 600;
        margin: 6px;
    }
    input{
        margin: 0px 4px;
        border-radius: 4px;
        width: 50%;
        border: 0px;
        padding: 2px;
        font-family: Quicksand;
        font-weight: 500;
    }
}
.ErrorPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $cornsilk;
    font-family: montserrat;
    font-size: large;
    p,h2,a{
        margin: 12px 8px;
    }
    
}